<%= form_with(model: medicine_plan) do |form| %>
  <% if medicine_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medicine_plan.errors.count, "error") %> prohibited this medicine_plan from being saved:</h2>

      <ul>
        <% medicine_plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :dosageNum %>
    <%= form.text_field :dosageNum %>
  </div>

  <div class="field">
    <%= form.label :dosageMeasure %>
    <%= form.text_field :dosageMeasure %>
  </div>

  <div class="field">
    <%= form.label :frequency %>
    <%= form.text_field :frequency %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
