<p id="notice"><%= notice %></p>

<h1>Medicine Plans</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Dosagenum</th>
      <th>Dosagemeasure</th>
      <th>Frequency</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medicine_plans.each do |medicine_plan| %>
      <tr>
        <td><%= medicine_plan.name %></td>
        <td><%= medicine_plan.dosageNum %></td>
        <td><%= medicine_plan.dosageMeasure %></td>
        <td><%= medicine_plan.frequency %></td>
        <td><%= link_to 'Show', medicine_plan %></td>
        <td><%= link_to 'Edit', edit_medicine_plan_path(medicine_plan) %></td>
        <td><%= link_to 'Destroy', medicine_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medicine Plan', new_medicine_plan_path %>
