<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @medicine_plan.name %>
</p>

<p>
  <strong>Dosagenum:</strong>
  <%= @medicine_plan.dosageNum %>
</p>

<p>
  <strong>Dosagemeasure:</strong>
  <%= @medicine_plan.dosageMeasure %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @medicine_plan.frequency %>
</p>

<%= link_to 'Edit', edit_medicine_plan_path(@medicine_plan) %> |
<%= link_to 'Back', medicine_plans_path %>
