<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :loginState %>
    <%= form.check_box :loginState %>
  </div>

  <div class="field">
    <%= form.label :admin %>
    <%= form.check_box :admin %>
  </div>

  <div class="field">
    <%= form.label :patients %>
    <%= form.text_field :patients %>
  </div>

  <div class="field">
    <%= form.label :carePlan %>
    <%= form.text_field :carePlan %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
