<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Login State:</strong>
  <%= @user.login_state %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<p>
  <strong>Patients:</strong>
  <%= @user.patients %>
</p>

<p>
  <strong>Care plan:</strong>
  <%= @user.care_plan %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
