<%= form_with(model: plan_zone) do |form| %>
  <% if plan_zone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan_zone.errors.count, "error") %> prohibited this plan_zone from being saved:</h2>

      <ul>
        <% plan_zone.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :symptoms %>
    <%= form.text_field :symptoms %>
  </div>

  <div class="field">
    <%= form.label :peakflowMin %>
    <%= form.text_field :peakflowMin %>
  </div>

  <div class="field">
    <%= form.label :peakflowMax %>
    <%= form.text_field :peakflowMax %>
  </div>

  <div class="field">
    <%= form.label :controlMedicinePlan %>
    <%= form.text_field :controlMedicinePlan %>
  </div>

  <div class="field">
    <%= form.label :quickMedicinePlan %>
    <%= form.text_field :quickMedicinePlan %>
  </div>

  <div class="field">
    <%= form.label :physicalActivityPlan %>
    <%= form.text_field :physicalActivityPlan %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
