<p id="notice"><%= notice %></p>

<h1>Plan Zones</h1>

<table>
  <thead>
    <tr>
      <th>Color</th>
      <th>Description</th>
      <th>Symptoms</th>
      <th>Peakflowmin</th>
      <th>Peakflowmax</th>
      <th>Controlmedicineplan</th>
      <th>Quickmedicineplan</th>
      <th>Physicalactivityplan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plan_zones.each do |plan_zone| %>
      <tr>
        <td><%= plan_zone.color %></td>
        <td><%= plan_zone.description %></td>
        <td><%= plan_zone.symptoms %></td>
        <td><%= plan_zone.peakflowMin %></td>
        <td><%= plan_zone.peakflowMax %></td>
        <td><%= plan_zone.controlMedicinePlan %></td>
        <td><%= plan_zone.quickMedicinePlan %></td>
        <td><%= plan_zone.physicalActivityPlan %></td>
        <td><%= link_to 'Show', plan_zone %></td>
        <td><%= link_to 'Edit', edit_plan_zone_path(plan_zone) %></td>
        <td><%= link_to 'Destroy', plan_zone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plan Zone', new_plan_zone_path %>
