<p id="notice"><%= notice %></p>

<p>
  <strong>Color:</strong>
  <%= @plan_zone.color %>
</p>

<p>
  <strong>Description:</strong>
  <%= @plan_zone.description %>
</p>

<p>
  <strong>Symptoms:</strong>
  <%= @plan_zone.symptoms %>
</p>

<p>
  <strong>Peakflowmin:</strong>
  <%= @plan_zone.peakflowMin %>
</p>

<p>
  <strong>Peakflowmax:</strong>
  <%= @plan_zone.peakflowMax %>
</p>

<p>
  <strong>Controlmedicineplan:</strong>
  <%= @plan_zone.controlMedicinePlan %>
</p>

<p>
  <strong>Quickmedicineplan:</strong>
  <%= @plan_zone.quickMedicinePlan %>
</p>

<p>
  <strong>Physicalactivityplan:</strong>
  <%= @plan_zone.physicalActivityPlan %>
</p>

<%= link_to 'Edit', edit_plan_zone_path(@plan_zone) %> |
<%= link_to 'Back', plan_zones_path %>
