<%= form_with(model: user_care_plan) do |form| %>
  <% if user_care_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_care_plan.errors.count, "error") %> prohibited this user_care_plan from being saved:</h2>

      <ul>
        <% user_care_plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :triggerList %>
    <%= form.text_field :triggerList %>
  </div>

  <div class="field">
    <%= form.label :severityClassification %>
    <%= form.text_field :severityClassification %>
  </div>

  <div class="field">
    <%= form.label :peakFlowHistory %>
    <%= form.text_field :peakFlowHistory %>
  </div>

  <div class="field">
    <%= form.label :zones %>
    <%= form.text_field :zones %>
  </div>

  <div class="field">
    <%= form.label :emergencyContacts %>
    <%= form.text_field :emergencyContacts %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
