<p id="notice"><%= notice %></p>

<h1>User Care Plans</h1>

<table>
  <thead>
    <tr>
      <th>Triggerlist</th>
      <th>Severityclassification</th>
      <th>Peakflowhistory</th>
      <th>Zones</th>
      <th>Emergencycontacts</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_care_plans.each do |user_care_plan| %>
      <tr>
        <td><%= user_care_plan.triggerList %></td>
        <td><%= user_care_plan.severityClassification %></td>
        <td><%= user_care_plan.peakFlowHistory %></td>
        <td><%= user_care_plan.zones %></td>
        <td><%= user_care_plan.emergencyContacts %></td>
        <td><%= link_to 'Show', user_care_plan %></td>
        <td><%= link_to 'Edit', edit_user_care_plan_path(user_care_plan) %></td>
        <td><%= link_to 'Destroy', user_care_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Care Plan', new_user_care_plan_path %>
