<p id="notice"><%= notice %></p>

<p>
  <strong>Triggerlist:</strong>
  <%= @user_care_plan.triggerList %>
</p>

<p>
  <strong>Severityclassification:</strong>
  <%= @user_care_plan.severityClassification %>
</p>

<p>
  <strong>Peakflowhistory:</strong>
  <%= @user_care_plan.peakFlowHistory %>
</p>

<p>
  <strong>Zones:</strong>
  <%= @user_care_plan.zones %>
</p>

<p>
  <strong>Emergencycontacts:</strong>
  <%= @user_care_plan.emergencyContacts %>
</p>

<%= link_to 'Edit', edit_user_care_plan_path(@user_care_plan) %> |
<%= link_to 'Back', user_care_plans_path %>
