<%= form_with(model: peak_flow) do |form| %>
  <% if peak_flow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(peak_flow.errors.count, "error") %> prohibited this peak_flow from being saved:</h2>

      <ul>
        <% peak_flow.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rating %>
    <%= form.text_field :rating %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
