<p id="notice"><%= notice %></p>

<h1>Peak Flows</h1>

<table>
  <thead>
    <tr>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @peak_flows.each do |peak_flow| %>
      <tr>
        <td><%= peak_flow.rating %></td>
        <td><%= link_to 'Show', peak_flow %></td>
        <td><%= link_to 'Edit', edit_peak_flow_path(peak_flow) %></td>
        <td><%= link_to 'Destroy', peak_flow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Peak Flow', new_peak_flow_path %>
